@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Roboto:wght@300;700&display=swap');

:root {
  --pink: #FFBFAC;
  --blue: #0097B2;
  --dark-blue: #3D5A98;
  --gray: #33363B;
  --white: #fafafa;

  --color-primary: var(--pink);
  --color-accent: var(--blue);
  --color-secondary: var(--gray);
  --color-contrast: var(--white);
  --color-link: var(--dark-blue);

  --font-principal: 'Roboto', sans-serif;
  --font-title: 'Cardo', serif;

  --font-xl: 48px;
  --font-lg: 28px;
  --font-md: 16px;
  --font-sm: 12px;

  --space-xl: 48px;
  --space-lg: 32px;
  --space-md: 24px;
  --space-sm: 16px;
  --space-xs: 8px;

  --radius: 4px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-secondary);
  background-color: var(--color-contrast);
  font-family: var(--font-principal);
  font-size: var(--font-md);
}

a {
  color: inherit;
  text-decoration: none;
}
