.main {
  padding: var(--space-xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-md);
  min-height: 100vh;
  justify-content: center;
}

main::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;  
  opacity: .4; 
  z-index: -1;
  background-image: url('../../public/new_year_s_card_26_b.jpg');
  background-position: center;
  background-size: cover;
}

/** Logo **/
.logo {
  font-family: var(--font-title);
  font-size: var(--font-lg);
  display: flex;
  gap: var(--space-xs);
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  padding: var(--space-xs);
  border-radius: var(--radius);
  width: fit-content;
  position: static;
}

 /** Section **/
.section {
  flex: 1;
  min-width: 250px;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.section--title {
  gap: var(--space-lg);
}

.section--form {
  padding: var(--space-sm);
}

.title {
  font-family: var(--font-title);
  font-size: var(--font-xl);
}

 /** Form **/
.form-wrapper {
  display: flex;
  flex-direction: column;
  padding: var(--space-sm);
  margin-top: var(--space-sm);
  background-color: var(--color-primary);
  border-radius: var(--radius);
  border: 1px solid var(--color-secondary);
  width: 100%;
}

.form-wrapper__title-box {
  padding: var(--space-sm);
  position: relative;
  top: calc(var(--space-lg) * -1);
  background-color: var(--color-secondary);
  color: var(--color-contrast);
  border-radius: var(--radius);
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  padding-bottom: var(--space-md);
  border-bottom: 1px solid var(--color-secondary);
}

.form__field {
  background-color: var(--color-contrast);
  padding: var(--space-xs);
  display: flex;
  gap: var(--space-xs);
  border-radius: var(--radius);
  display: flex;
  align-items: center;
}

.icon__wrapper {
  width: 32px;
  border-right: 1px solid var(--color-secondary);
  display: flex;
  align-items: center;
}

.icon {
  height: 24px;
  width: 24px;
}

.form__field input {
  border: none;
  background-color: inherit;
}

.form__field input:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--color-accent);
}

.form__remember {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs);
  justify-content: space-between;
}

.link {
  font-weight: 700;
  color: var(--color-link);
}

.link:hover, link:focus {
  text-decoration: underline;
}

.form__checkbox {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

.button:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.2);
}

.button--main {
  border-radius: var(--radius);
  background-color: var(--color-accent);
  color: var(--color-contrast);
  font-weight: 700;
  font-size: var(--font-lg);
  padding: var(--space-xs);
}

/** Login part **/
.form-wrapper__login-app {
  padding-top: var(--space-md);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.login-app__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-md);
  list-style: none;
}

.button--app {
  background-color: var(--color-contrast);
  height: 45px;
  width: 45px;
  border-radius: var(--radius);
}

.button--app img {
  width: 45px;
  height: 45px;
  object-fit: cover;
}

/** Forgot form part **/
.form-wrapper__forgot {
  padding-top: var(--space-md);
  display: flex;
  justify-content: space-between;
  gap: var(--space-xs)
}

@media (min-width: 720px) {
  .main {
    flex-direction: row;
    align-items: flex-end;
  }
  .logo {
    position: absolute;
    top: var(--space-lg);
    left: var(--space-lg);
  }
}